<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pay</title>
  <link rel="stylesheet" href="styles/pay.css">
</head>
<body>
  <div class="form-container">
    <h2>Thông Tin Giao Hàng/Thanh Toán</h2>
    <form action="/pay" method="post" id="payForm">
      <div class="form-group">
        <label for="Tên">Tên:</label>
        <input type="text" id="ten" name="ten" placeholder="Tên người nhận">
      </div>
      <div class="form-group">
        <label for="SĐT">SĐT:</label>
        <input type="text" id="sdt" name="sdt" placeholder="Số điện thoại">
      </div>
      <div class="form-group">
        <label for="Địa chỉ">Địa chỉ:</label>
        <input type="text" id="diachi" name="diachi" placeholder="Thành phố/Quận/Huyện">
      </div>
      <div class="form-group">
        <label for="Time">Time:</label>
        <input type="text" id="time" name="time" placeholder="Thời gian giao hàng hợp lý">
      </div>
      <div class="option-title">
        <h3>Phương thức thanh toán:</h3>
      </div>
      <div class="form-group2">
        <label for=""><input type="radio" name="payment" value="1">Chuyển khoản qua ngân hàng (MBbank, STK:12341234)</label>
      </div>
      <div class="form-group2">
        <label for=""><input type="radio" name="payment" value="2">Thanh toán tại COD</label>
      </div>
      <button type="submit" class="submit-btn">HOÀN TẤT ĐẶT HÀNG</button>
    </form>
    <div id="notification" class="notification"></div>
  </div>
  

  <script>
    document.getElementById('payForm').addEventListener('submit', async (event) => {
      event.preventDefault();
  
      const formData = new FormData(event.target);
      const response = await fetch('/pay', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          ten: formData.get('ten'),
          sdt: formData.get('sdt'),
          diachi: formData.get('diachi'),
          time: formData.get('time'),
          payment: formData.get('payment')
        })
      });
  
      const result = await response.json();
  
      // Get the notification element
      const notification = document.getElementById('notification');
  
      // Check if there's an error
      if (result.error) {
        // Display an error notification
        notification.textContent = result.error;
        notification.style.display = 'block';
      }else {
      // Redirect to a success page or handle accordingly
      window.location.href = '/success';
    }
    });
  </script>
  
</body>
</html>