<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <style>
    .body{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .success-container{
      width: 400px;
      margin: 0 auto;
      padding: 20px;
    }
    .h1{
      text-align: center;
      margin-bottom: 30px;
    }
    .success-picture{
      width: 60%;
      align-items: center;
    }
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="success-container">
    <h1 class="container">ĐẶT ĐƠN THÀNH CÔNG</h1>
    <div class="container">
      <img src="picture/pngtree-green-check-mark-png-image_6525691.png" class="success-picture">
    </div>
  </div>
  
</body>
</html>